<div class="container">
  <h1>Conectar a Eventos</h1>
  <div>
    <label for="url">URL:</label>
    <input type="text" id="url" [(ngModel)]="url" />
  </div>
  <div>
    <label for="url">Token:</label>
    <input type="text" id="token" [(ngModel)]="token" />
  </div>
  <button (click)="connect()">Conectar</button>
  <div class="event-container">
    <div *ngFor="let event of events">
      <pre>userId:{{event.userId}} ; data size:{{event.data.length}}; data: {{event.data | json}}</pre>
    </div>
  </div>
</div>
